
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body
{
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #898E4A;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    opacity: 85%;
}
p
{
    font-family: "Rubik", sans-serif;
}
.main-screen
{
    background-color: #898E4A;
    padding-top: 150px;

    @media(max-width: 1160px)
    {
        padding-top: 100px;
    }

        
    @media(max-width: 790px)
    {
        padding-top: 70px;
    }
}
.div-for-logo
{
    padding: 20px;
    padding-left: 50px;
}
.main-text-in-the-logo
{
    color: #FEFAEA;
    font-size: 60px;
    margin: 0;

    @media(max-width: 1160px)
    {
        font-size: 40px;
    }

    
    @media(max-width: 790px)
    {
        font-size: 20px;
    }
}
.text-in-the-logo
{
    color: #FEFAEA;
    font-size: 15px;
    margin: 0;

    @media(max-width: 1160px)
    {
        font-size: 10px;
    }
}
nav
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;

    p
    {
        padding: 30px;
        color: #FEFAEA;
        font-size: 25px;
        margin: 0;

        @media(max-width: 1160px)
        {
            font-size: 20px;
            padding: 10px;
        }
        
        @media(max-width: 790px)
        {
            font-size: 10px;
        }
    }
}
.big-text-for-main-screen
{
    color: #FEFAEA;
    font-size: 80px;
    margin: 0;

    @media(max-width: 1160px)
    {
        font-size: 60px;
    }

    @media(max-width: 790px)
    {
        font-size: 30px;
    }
}
.button-in-main-screen
{
    border-radius: 35px;
    background-color: #593D16;
    color: #FEFAEA;
    border: none;
    padding: 20px 50px;
    font-size: 35px;
    margin: 100px 0 40px 0;
    
    @media(max-width: 1160px)
    {
        font-size: 30px;
        padding: 10px 40px;
        margin: 80px 0 20px 0;
    }

    @media(max-width: 790px)
    {
        font-size: 20px;
        padding: 10px 20px;
    }
}
.div-with-text-for-main-screen
{
    padding: 20px;
}
main
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.img-in-main-screen
{
    padding: 20px;
    align-items: center;

    @media(max-width: 888px)
    {
        width: 250px;
        height: auto;
    }

    @media(max-width: 790px)
    {
        width: 150px;
        height: auto;
    }
}
.about-screen
{
    background-color: #FEFAEA;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-in-about-screen
{
    padding: 20px;
    padding-right: 50px;
    align-items: center;

    @media(max-width: 888px)
    {
        width: 250px;
        height: auto;
    }

    @media(max-width: 790px)
    {
        width: 150px;
        height: auto;
        padding-right: 20px;
    }
}
.big-text-for-about-screen
{
    color: #593D16;
    font-size: 80px;
    margin: 0;
    padding: 20px 0;
    float: left;

    @media(max-width: 1160px)
    {
        font-size: 60px;
    }

    @media(max-width: 790px)
    {
        font-size: 30px;
    }
}
.all-in-about-screen
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.all-text-in-about-screen
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;

    @media(max-width: 1160px)
    {
        padding-left: 20px;
    }
}
.text-in-about-screen
{
    color: #593D16;
    font-size: 35px;

    @media(max-width: 1160px)
    {
        font-size: 25px;
    }

    @media(max-width: 790px)
    {
        font-size: 15px;
    }
}
.ul-in-about-screen
{
    color: #593D16;
    font-size: 35px;
    font-family: "Rubik", sans-serif;

    @media(max-width: 1160px)
    {
        font-size: 25px;
    }

@media(max-width: 790px)
    {
        font-size: 15px;
    }
}
.why-screen
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #E9D7BE;
}
.big-text-for-why-screen
{
    color: #593D16;
    font-size: 80px;
    margin: 0;
    padding: 20px 0;

    @media(max-width: 1160px)
    {
        font-size: 60px;
    }

    @media(max-width: 790px)
    {
        font-size: 30px;
    }
}
.text-in-why-screen
{
    color: #593D16;
    font-size: 30px;
    width: 70%;

    @media(max-width: 1160px)
    {
        font-size: 20px;
    }

    @media(max-width: 790px)
    {
        font-size: 15px;
    }
}
.all-div-in-why-screen
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media(max-width: 790px)
    {
        flex-direction: column;
    }

    div
    {
        background-color: #898E4A;
        margin: 20px 50px 50px 50px;
        border-radius: 35px;
        width: 300px;
        height: 280px;
        display: flex;
        justify-content: center;

        @media(max-width: 1160px)
        {
            width: 200px;
            height: 180px;
            border-radius: 20px;
        }

        @media(max-width: 790px)
        {
            margin: 10px 0 20px 0;
        }

        p
        {
            color: #FEFAEA;
            font-size: 25px;
            align-self: center;
            text-align: center;
            margin: 0;
            padding: 0 20px;

            @media(max-width: 1160px)
            {
                font-size: 15px;
            }
        }
    }
}
.pets-screen
{
    background-color: #FEFAEA;

    .all-in-pets-screen
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        @media(max-width: 790px)
        {
            flex-direction: column;
        }

        div
        {
            display: flex;
            background-color: #E9D7BE;
            width: 500px;
            height: 500px;
            border-radius: 50%;
            align-content: center;
            flex-direction: column;
            margin: 20px;
            margin-bottom: 100px;
            background-size: contain;

            @media(max-width: 1160px)
            {
                width: 300px;
                height: 300px;
            }

            p
            {
                color: #593D16;
                font-size: 40px;
                text-align: center;
                padding-top: 480px;

                @media(max-width: 1160px)
                {
                    padding-top: 280px;
                }

                @media(max-width: 790px)
                {
                    font-size: 25px;
                }
            }
        }
    }
    
}
.big-text-for-pets-screen
{
    color: #593D16;
    font-size: 80px;
    margin: 0;
    padding: 20px 0 50px 0;
    text-align: center;

    @media(max-width: 1160px)
    {
        font-size: 60px;
    }

    @media(max-width: 790px)
    {
        font-size: 30px;
    }
}
.first-photo-in-pets-screen
{
    background: url("картинки/котята.png") no-repeat;
    background-position: 50% 100px;

    @media(max-width: 1160px)
    {
        background-position: 50% 50px;
    }
}
.second-photo-in-pets-screen
{
    background: url("картинки/щеночки.png") no-repeat;
    background-position: 50% 60px;

    @media(max-width: 1160px)
    {
        background-position: 50% 40px;
    }
}
footer
{
    background-color: #898E4A;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 0;

    @media(max-width: 1160px)
    {
        align-items:  center;
    }

    @media(max-width: 790px)
    {
        flex-direction: column;
    }
}
.text-for-footer
{
    color: #593D16;
    font-size: 20px;
    font-weight: bold;

    @media(max-width: 790px)
    {
        font-size: 15px;
    }
}
.div-sponsors-in-footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

img
    {
        height: 80px;
        width: auto;
        padding: 10px;
    }
    .img3-footer
    {
        height: 50px;
    }
}